{% extends 'main/base.html' %}
{% block title %}
       Login 
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<br>
    <div class="container" style="max-width: 500px; border: 1px solid #28488b; border-radius: 20px; padding: 30px;">
        <h1>Post</h1>
        <form method="POST">
            {% csrf_token %}
            {{form|crispy}}


            <button type="submit" class="btn btn-success">Posts</button>
        </form>
        
    </div>
{% endblock %}