{% extends 'main/base.html' %}
{% block title %}
       Home page 
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}

    <h1><br>This is the home page</h1>

    <style>
      .form-card {
        border: 1px solid #28488b;
        border-radius: 20px;
        padding: 20px;
        background-color: #f5f5f5;
      }
    
      .form-card textarea {
        height: 75px; /* Adjust the height of the textarea */
        resize: vertical; /* Allow vertical resizing if needed */
      }
    </style>
    
    <div class="container form-card">
      <H4>Make a post</H4>
      <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
    
        <button type="submit" class="btn btn-success">Post</button>
      </form>
    </div>
    
     
    {% for post in posts %}
    <div class="card mt-2">
      <div class="card-header"><strong>{{ post.author.username }}</strong></div>
      <div class="card-body d-flex flex-row justify-content-between">
        <div>
          <h5 class="card-title">{{ post.title }}</h5>
          <p>{{ post.body }}</p>
        </div>
      </div>
      <div class="card-footer text muted">{{ post.created }} {% if post.created != post.updated %} EDITED {% endif %} </div>
    </div>
{% endfor %}


{% endblock %}